@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 400px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.symbol p {
  margin-bottom: 0;
  font-size: 80px;
}

.lower {
  display: flex;
  flex-direction: row-reverse;
}

.lower p {
  transform: rotate(-180deg);
}

.number {
  text-align: center;
  font-size: 90px;
}

.red {
  color: red;
}
